<div class="row-fluid">

	<div class="span2">
		<div class="well-light">
			<div>Mr.Waqas Mubarik</div>
			<div>Email waqas.mubarik@gmail.com</div>
			<div>Skype:mwmubaik</div>
			<p>
			<div>Mob&Whatsapp:+86-139 2533 9320</div>
			</p>
		</div>

	</div>
	<div class="span10">
		<p>
			Feel free to contact us by telephone, fax or by emailing directly on sales@asglighting.com Alternatively you can use the form below.
		</p>
		<%= form_tag contact_us_mailer_path, :method => 'post', "data-validate" => "parsley" do%>
		<div class="control">
			<%= text_field_tag 'name','', "placeholder"=> 'Full Name', 'data-required'=>'true'%>
		</div>
		<div class="control">
			<%= text_field_tag 'email','', "placeholder"=> 'Email', 'data-required'=>'true'%>
		</div>
		<div class="control">
			<%= text_field_tag 'subject','', "placeholder"=> 'Subject', 'data-required'=>'true'%>
		</div>
		<div class="control">
			<%= text_area_tag 'message','', "placeholder"=> 'Message', 'data-required'=>'true'%>
		</div>
		<div class="control">
			<%= submit_tag 'submit', :class=>'btn btn-primary'%>
		</div>
		<%end%>
	</div>
</div>