<div class="row-fluid">
	<div class="span2">
		<div class="categories-container">
			<% @categories.each do |categ|%>
			<%= link_to categ.name,'', :class => 'btn btn-large btn-block btn-primary'%>


			<%end%>


		</div>
	</div>
	<div class="span10">

		<div class="products-container">

			<% @products.each do |product|%>

			<div class="product-image-div">
				<a href="<%= product_path product%>"><%= image_tag product.image.url(:medium) %></a>
				<strong><%= product.name%></strong> $<%= product.price%>
				<p><%= product.description%></p>
				
			</div>
		
			<%end%>

		</div>
		
	</div>
</div>