<div class="row-fluid">
	<div class="span2">
		<div class="categories-container">
			<% @categories.each do |categ|%>
			<%= link_to categ.name,root_url(category: categ.id), :class => 'btn btn-large btn-block btn-primary'%>


			<%end%>


		</div>
	</div>
	<div class="span10">

		<div class="products-container">

			<% @products.each do |product|%>

			<div class="product-image-div">
				<a href="<%= product_path product%>"><%= image_tag product.image.url(:thumb) %></a>
				<p><strong><%= product.name%></strong> $<%= product.price%></p>
				<p class="pr_desc"><%= product.description%></p>
			</div>
			<%end%>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$(".pr_desc").shorten();
	});
</script>