<!DOCTYPE html>
<html>
<head>
  <title>WaqasLight</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <%= image_tag 'logo.png'%>
  </div>

  <div class="navbar navbar-default navbar-static-top">

    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav" >
            <a class="brand" href= '/' style="color: #ffc;">Home</a>
            <li><%= link_to "About Us",about_us_path ,style: "color: #ffc;"%></li>

            <li><%= link_to "Price Index",pricing_path ,style: "color: #ffc;"%></li>
            <li><%= link_to "Contact Us",contact_us_path ,style: "color: #ffc;"%></li>
            <li><%= link_to "Admin",admin_path ,style: "color: #ffc;" unless current_user.blank?%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

  <div class ="footer" >
  <h3>Follow Us on Facebook<h3> <div  class='round-button'><%= link_to 'f','',:style=> 'color: #f5f5f5',
  :target=> '_blank' %></div>

  </div>
</body>
</html>
